/* Flex */
* {
  font-family: 'Open Sans', sans-serif;
}
a,
a:hover,
a:focus {
  color: #FFF;
  text-decoration: none;
}
button,
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 20px;
  line-height: 12px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  outline: none !important;
  box-sizing: border-box;
}
button:focus,
.btn:focus {
  outline: none !important;
}
button:hover,
.btn:hover,
button:focus,
.btn:focus {
  background-color: rgba(0, 0, 0, 0.235);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #333333;
}
.btn--orange {
  color: #FFF;
  background-color: #ee6c4d;
}
.btn--orange:hover,
.btn--orange:focus {
  color: #FFF;
  background-color: #c94224;
}
.md-select-menu-container {
  z-index: 2001;
}
.md-toast.success {
  background-color: #0CB976;
}
.md-toast.error {
  background-color: #DE5307;
}

/* Flex */
#main-container {
  display: flex;
}
#main-container #nav-container {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  width: 63px;
}
#main-container #content-container {
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
#main-container #content-container .sidenav-section {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  width: 326px;
}
#main-container #content-container .content-section {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: #eaeaea;
}
#main-container #content-container .content-section .topnav-section {
  background-color: #dcdcdc;
}

/* Flex */
.login-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  background-image: url('images/landing-bg.jpg');
  background-size: cover;
}
.login-page .login-container {
  position: absolute;
  right: 100px;
  bottom: 100px;
}
.login-page .input-container {
  margin-bottom: 15px;
}
.login-page .input-container i {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ee6c4d;
}
.login-page .input-container i:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -5px;
  top: 50%;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ee6c4d;
}
.login-page .input-container input {
  width: 400px;
  height: 36px;
  padding-left: 10px;
  margin-left: -5px;
  border: 1px solid #eaeaea;
}
.login-page .input-container input:focus {
  border: 1px solid #ee6c4d;
  outline: 0;
}

/* Flex */

/* Flex */
#nav-container {
  background-color: #293241;
  height: 100vh;
}
#nav-container .nav-item {
  position: relative;
  display: block;
  width: 63px;
  height: 60px;
  text-align: center;
  line-height: 64px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#nav-container .nav-item i {
  opacity: .5;
  font-size: 26px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#nav-container .nav-item:hover,
#nav-container .nav-item.active {
  background-color: #ee6c4d;
}
#nav-container .nav-item:hover i,
#nav-container .nav-item.active i {
  opacity: .8;
}
#nav-container .nav-item:hover:after,
#nav-container .nav-item.active:after {
  opacity: 1;
}
#nav-container .nav-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -5px;
  top: 50%;
  opacity: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ee6c4d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidenav-section {
  background-color: #0d1b2a;
  height: 100vh;
}
.sidenav-section .sidenav-item {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  padding: 25px 45px;
  color: #eaeaea;
  background-color: #0d1b2a;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidenav-section .sidenav-item .detail-info {
  display: block;
}
.sidenav-section .sidenav-item i {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  color: #425069;
}
.sidenav-section .sidenav-item:hover,
.sidenav-section .sidenav-item.active {
  background-color: #eaeaea;
  color: #0d1b2a;
}
.sidenav-section .sidenav-item:focus {
  box-shadow: none;
  outline: none;
}
.sidenav-section > .btn {
  position: fixed;
  width: 326px;
  padding: 15px 20px;
  bottom: 0;
  border-radius: 0;
}
.sidenav-section > .btn span {
  vertical-align: text-bottom;
}
.sidenav-section > .btn i {
  margin-right: 20px;
  font-size: 32px;
}

