<div clients-sidenav class="sidenav-section">
    <div class="topnav-section"></div>
    <div class="sidenav-item" ng-repeat="client in clients track by client.client_id" ng-class="{active: client.client_id === sClient.client_id}" ng-click="selectClient(client)">
        {{client.client_name}} {{client.client_surname}}
        <span class="detail-info">
            <i ng-if="client.client_city">{{client.client_city}}</i>
            <i ng-if="client.client_state">, {{client.client_state}}</i>
        </span>
    </div>
    <button class="btn btn--orange" ng-click="showDialog()">
        <i class="icon-add-client"></i>
        <span translate>Dodaj novog klijenta</span>
    </button>
</div>                
<div clients-template class="content-section">
    <md-button class="md-raised md-primary" ng-click="showDialog(selClient)">Edit</md-button>
    <md-button class="md-raised md-warn" ng-click="removeClient(selClient)">Delete</md-button>
    {{sClient.client_name}}
    {{sClient.client_surname}}
    {{sClient.client_city}}
    {{sClient.client_state}}
    {{sClient.client_phone}}

    <div class="cases">
        <div class="case" ng-repeat="ucase in cases track by ucase.case_id">{{ucase.case_name}}</div>
    </div>
</div>