<div cases-sidenav class="sidenav-section">
    <div class="topnav-section"></div>
    <div class="sidenav-item" ng-repeat="uCase in cases track by uCase.case_id" ng-class="{active: uCase.case_id === sCase.case_id}" ng-click="selectCase(uCase)">
        {{uCase.case_number}} - {{uCase.case_name}}
        <span class="detail-uCase">
            <i ng-if="singleCase.case_rivalName">{{uCase.case_rivalName}} {{uCase.case_rivalSurname}}</i>
            <i ng-if="uCase.case_judge">, {{uCase.case_judge}}</i>
        </span>
    </div>
    <button class="btn btn--orange" ng-click="showDialog()">
        <i class="icon-add-client"></i>
        <span translate>Dodaj novog klijenta</span>
    </button>
</div>
<div cases-template class="content-section">
    <md-button class="md-raised md-primary" ng-click="showDialog(sCase)">Edit</md-button>
    <md-button class="md-raised md-warn" ng-click="removeCase(sCase)">Delete</md-button>
    {{sCase.case_number}} - {{sCase.case_name}}
    <br>
    {{client.client_name}} {{client.client_surname}}
</div>